body {
  margin: 0;
  height: 100vh;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  background-color: #9DCAFF;
  align-content: center;
  color: rgb(92, 92, 92);

}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 0.1fr 4fr 4fr;
  grid-template-areas:
    "header   header"
    "UI       results"
    "rawdata  results";
  grid-gap: 1rem;
  height: 110vh;
  margin: 1em;
}

.header {
  color: black;
  display: flex;
  justify-content: space-evenly;
  grid-area: header;
  background-color: #A0ACBD;
}

.interface {
  display: grid;
  grid-area: UI;
  background: #FCB1CB;
  grid-template-rows: 4fr 1fr 1fr;
  grid-template-areas: "text"
    "input"
    "button";
}

.information {
  display: grid;
  padding: 30px;
  column-gap: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "h1 "
    "text ";

}

h1 {
  grid-area: h1;

}

.pepbox {
  font-size: 16px;
  color: rgb(56, 56, 56);
  padding: 9px;
  grid-area: pepbox;
  background: #d8f3ff56;
}

.text {
  font-size: 20px;
  margin: auto;
  justify-content: space-between;
  text-align: justify;
  grid-area: text;
  color: rgb(92, 92, 92)
}

btn {
  color: rgb(92, 92, 92);
  grid-area: button;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background: #FFEDCB;
  font-size: large;
  transition: 0.4s;
  cursor: pointer;
}

.slowButton:hover {
  transition: 1s ease-in-out;

}


btn:hover {
  transition: 0.1s ease-in-out;
  background: #FFEDCB;
  padding-left: 80px;

}

btn:hover svg {
  stroke-dashoffset: -480;
}

input {
  padding-left: 30px;
  border: none;
  font-size: large;
  background: #E5C18F;
  transition: 1s;

}

textarea:focus,
input:focus,
textarea:hover,
input:hover {
  padding-left: 80px;
  outline: none;
  transition: 1s ease-in-out;
  background: #E5C18F;
}

.results {

  grid-area: results;
  background: #9dc8f100;
}

pre {
  color: black;
  max-width: 200px;
}

.resultOverview {
  grid-area: results;
  max-width: 100%;
  min-height: 70px;
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  grid-template-areas:
    "subject pep";
}


.pepTrue {
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-area: pep;
  background-color: #FF8C5B;
}

.pepFalse {
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-area: pep;
  background-color: #00917D
}

.suggestions {
  cursor: pointer;
  color: rgb(59, 59, 59);
  font-size: 20px;
  background-color: #FFEDCB;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  word-break: break-all;
}

.newSearch {
  cursor: pointer;
  border: 2px;
  text-align: left;
  background-color: #FFEDCB;
}

.subject {
  font-size: 22px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-area: subject;
  background-color: #E5C18F;
}

.rawdata {
  grid-area: rawdata;
  background: #d8f3ff00;
}

.error {
  grid-area: results;
  max-width: 100%;
  min-height: 70px;
  background-color: #ee4d4dde;
  font-size: 20px;
  justify-content: space-between;
  text-align: center;
  grid-area: text;
  font-weight: bold;
  color: rgb(8, 8, 8)
}


.loader {
  justify-content: center;
  border: 20px solid #EAF0F6;
  border-radius: 90%;
  border-top: 20px solid #FF7A59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}