body {
  margin: 0;
  height: 100vh;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.6fr;
  grid-template-rows: 0.1fr 4fr 4fr;
  grid-template-areas:
    "header   header   header"
    "UI       UI       results"
    "rawdata  rawdata  results";
  grid-gap: 0.7rem;
  height: 100vh;
  margin: 2em;
}

.header {
  display: flex;
  justify-content: space-evenly;
  grid-area: header;
  background: #f0c32f91;
}

.interface {
  display: grid;
  grid-area: UI;
  background: #f7d6ef;
  grid-template-rows: 4fr 1fr 1fr;
  grid-template-areas:
    "text"
    "input"
    "button";
}

.information {
  display: grid;
  padding: 30px;
  column-gap: 4rem;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "h1     h1"
    "text   pepbox"
}

h1 {

  grid-area: h1;
  color: rgb(92, 92, 92)
}

.pepbox {
  font-size: 16px;
  color: rgb(56, 56, 56);
  padding: 20px;
  margin: auto;
  grid-area: pepbox;
  background: rgb(206, 206, 206);
}

.text {
  font-size: 20px;
  justify-content: space-between;
  text-align: justify;
  grid-area: text;
  color: rgb(92, 92, 92)
}

btn {
  color: rgb(92, 92, 92);
  font-weight: bold;
  grid-area: button;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background: #d6eef7;
  font-size: large;
  transition: 1s;
}

btn:hover {
  transition: 1s ease-in-out;
  background: #a4dff5;
  padding-left: 80px;

}

btn:hover svg {
  stroke-dashoffset: -480;
}

input {
  padding-left: 30px;
  border: none;
  font-size: large;
  background: #e0d6f7;
  transition: 1s;

}

textarea:focus,
input:focus,
textarea:hover,
input:hover {
  padding-left: 80px;
  outline: none;
  transition: 1s ease-in-out;
  background: #c8b4f5;
}

.results {
  grid-area: results;
  background: #e6f7d6;
}

pre {
  max-width: 200px;
}


summary {
  grid-area: results;
  max-width: 100%;
  min-height: 70px;
  background-color: #9f7febde;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "subject pep";
}


.pep {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-area: pep;
  background-color: #f098bd;
}

.subject {
  font-size: 22px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-area: subject;
  background-color: #b398f0;
}

.rawdata {
  grid-area: rawdata;
  background: #f7dad6;
}